/*This stylesheet comes from http://bootply.com/94961#*/

/* 2nd level */
.tree > li > label {
    padding:10px 15px;
}

/* 3rd level */
.tree > li > ul > li > a {
    color:#cc0000;
    font-size:10pt;
    margin-left:15px;
}