

li [class^="glyphicon-"], .nav li [class^="glyphicon-"],
li [class*="glyphicon-"], .nav li [class*=" glyphicon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

li {list-style:none;}
li > span > label {display:block;}
li > label > span {display:inline-block;width:26px;text-align:center;}